body {
    color: white;
    background-color: black;
    font-family: 'Sacramento', cursive;
<<<<<<< HEAD
    font-size: 50%;
=======
    font-size: large;
>>>>>>> d33c6aed8351172338792b578d25077b6f51b62c
    margin: 5em 25%;
 }